.banner_image{
  width: 100%;
  height: 300px;
}
.banner_container{
  margin: 40px 0;
} 
.footer_container{
  padding: 30px 0px 40px 0px;
  background-color: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}
.footer_column{
  display: flex;
 flex-direction: column;
}
.footer_column a{
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  color: #696479;
}
.footer_column h3{
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}
.copyright{
  color: #94969f;
  text-align: end;
  padding: 15px;
}
.items-container{
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}
.item-container{
width: 250px;
margin: 10px;
text-decoration: none;
position: relative;
}
.item-image{
  width: 100%;
  height: 60%;
}
.rating{
  font-size: 12px;
  font-weight: 700;
}
.nursery-name{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 2px;
}
.item-name{
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
  padding-bottom: 2px;
}
.price{
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price{
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price{
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount{
  color: #e95309;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.btn-add-bag{
  margin-top: 8px;
  width: 100%;
  font-size: 18px;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.category_items,.items-container{
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sale_item{
  width: 200px;
}
.bag-item-count{
  
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.addwishlist{
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 12px;
  cursor: pointer;
  fill:#eae7e7;
  /* opacity: .2; */
  stroke: transparent;
}